.box {
  width: 400px;
  height: 400px;
  background-color: #e8e8e8;
  margin-left: 450px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.elements {
  width: 100px;
  height: 100px;
  background-color: #28a745;
  border-color: #006400;
  color: white;
  text-align: center;
  border-style: solid;
  /* border-color: #a2d5f2; */
  position: relative;
  transition: top 5s;
  font-size: 1.5rem;
}


button:focus{
  outline: 0;
}

.oddOne{
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;

}

#start-Btn{
  font-size: 1.5rem;
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: 5px;
  margin-left: 450px;
  margin-top: 50px;
}

#start-Btn:hover {
  background-color: #006400;
}
